@charset "UTF-8";
/* CSS Document */

body  {
	background-image:  url(http://jhsmith.iweb.bsu.edu/jacksmith15/iamges/bgrdRepeat.png);
}

#bar  {
	background-color:  #000;
	width:  1280px;
	height:  342px;	
	position:  absolute;
	left:  50%;
	top:  50%;
	margin:  -234px 0 0 -1280px;
	z-index:  50;
}

#minibar  {
	background-color:  #CADDC5;
	width:  1280px;
	height:  56px;	
	position:  absolute;
	left:  50%;
	top:  50%;
	margin:  107px 0 0 -1280px;
	z-index:  50;
}

#superContainer  {
	background-image:  url(http://jhsmith.iweb.bsu.edu/jacksmith15/iamges/homeImage_noWords.png);
	width:  1280px;
	height:  800px;	
	position:  absolute;
	left:  50%;
	top:  50%;
	margin:  -400px 0 0 -640px;
	z-index:  50;
}

#videoLink  {
	background-image:  url(http://jhsmith.iweb.bsu.edu/jacksmith15/iamges/home_videoLink.png);
	width:  150px;
	height:  50px;	
	position:  absolute;
	left:  50%;
	top:  50%;
	margin:  110px 0 0 -252px;
	z-index:  50;
}

#videoLink:hover  {
	background-image:  url(http://jhsmith.iweb.bsu.edu/jacksmith15/iamges/home_videoLinkHover.png);	
}

#motionLink  {
	background-image:  url(http://jhsmith.iweb.bsu.edu/jacksmith15/iamges/home_motionLink.png);
	width:  150px;
	height:  50px;	
	position:  absolute;
	left:  50%;
	top:  50%;
	margin:  110px 0 0 -57px;
	z-index:  50;
	opacity:  1;
}

#motionLink:hover  {
	background-image:  url(http://jhsmith.iweb.bsu.edu/jacksmith15/iamges/home_motionLinkHover.png);
}

#webLink  {
	background-image:  url(http://jhsmith.iweb.bsu.edu/jacksmith15/iamges/home_webLink.png);
	width:  150px;
	height:  50px;	
	position:  absolute;
	left:  50%;
	top:  50%;
	margin:  110px 0 0 120px;
	z-index:  50;
}

#webLink:hover  {
	background-image:  url(http://jhsmith.iweb.bsu.edu/jacksmith15/iamges/home_webLinkHover.png);	
}

#name  {
	background-image:  url(http://jhsmith.iweb.bsu.edu/jacksmith15/iamges/jsmith.png);
	width:  490px;
	height:  350px;	
	position:  absolute;
	left:  50%;
	top:  50%;
	margin:  -240px 0 0 -245px;
	z-index:  50;
	opacity:  0.9;
}

#name:hover  {
	background-image:  url(http://jhsmith.iweb.bsu.edu/jacksmith15/iamges/jsmith.png);
	width:  490px;
	height:  350px;	
	position:  absolute;
	left:  50%;
	top:  50%;
	margin:  -240px 0 0 -245px;
	z-index:  50;
	opacity:  1;
}



